.App {
  text-align: center;
}

nav {
  text-align: left;
  background-color: rgb(222, 236, 198);
  color:rgb(19, 18, 18);
  padding-top: calc(5px + 1vmin);
  display: flex;
  /* flex-direction: column; */
  text-decoration: none;
  padding: 5px;
}

a {
  text-decoration: none;
  color:rgb(19, 18, 18)
}

a:visited {
  text-decoration: none;
  color:rgb(19, 18, 18)
}

a:hover {
  text-decoration: none;
  color:rgb(19, 18, 18)
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(19, 18, 18);
  padding: 40px;
}

.App-link {
  color: #61dafb;
}

.body-description {
  text-align: center;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
